# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/
ENV/
env/
venv.bak/

# Pytest
.pytest_cache/
.junit/

# VS Code
.vscode/

# Others
*.log
.DS_Store
.idea/
*.swp
*.swo

# Coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
.coverage
.cache
